{{define "main" }}

{{ partial "nav" .}}
    {{if .Site.Params.coverImage}}
    <div class="about-page">
        <!--this is the about page-->
        <div class="about-image" style="background-image: url({{.Site.Params.coverImage | absURL }})">
        {{ end }}    
        </div>    
    </div>
    
    <div class="about-text-box">
    <header class="about-header">
        <h1 class="about-text-box-title">{{.Title}}</h1>
        
    </header>
    
    
    <section class="about-text-box-content" style="padding: 0 25px;">
        {{ .Content }}
    </section>

{{ end }}