{{define "main"}}

{{ partial "nav" .}}

<article>
    
    <!-- <div class="blog-image">
    <!-- If the config params "image" is available embed image, needs else statement
        {{if .Params.image}}
        <div class="post-image" style="background-image: url({{.Params.image | absURL}})">
        </div>    
        {{end}} 
        
    </div> -->
   <div class="post-text-box">
    <header class="post-header">
         <div class="post-title"> 
            <div class="title">{{.Title}} <span class="blog-date">{{ dateFormat "2-01-2006" .Date }}</span></div>
            </div>
            <div class="post-text-box-tags">
                {{ partial "postTags" . }} 
                </div>
     
    <section class="post-text-box-content" style="padding: 0 25px;">
        {{ .Content }}
    </section>
 
    
    <div class="post-signature">
        <a href="/about"><img class="post-signature-image" src="{{ (.Params.authorAvatar | default .Site.Params.authorAvatar) | absURL}}" alt="Author" /></a>
        
    </div>
       
    </div>
</article>

{{end}}